/* Smartphones (portrait and landscape) ----------- */

@media only screen
and (min-device-width : 240px)
and (max-device-width : 667px) {

    /* HEADER */

    header {
        
        .intro {
            

            .intro-text {
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);

                .hi {
                    padding: 0 1rem;
                }

                h1 {
                    font-size: map-get(config.$h1, "mobile");
                    width: 100%;
                    text-align: center;
                }
            }     
        }
    }

    /* MAIN */

    main {
        
        .projects {
            

            .projects-collage {
                grid-template-columns: repeat(1, 1fr);

                .project-one,
                .project-two,
                .project-three,
                .project-four {

                    .project-figure {

                        .project-overlay {
                            background: rgba(0, 0, 0, 0.4);
                            transition: .7s ease;
                            opacity: 1;
                        }

                        .project-text {
                            opacity: 1;
                            display: flex;
                            flex-direction: column;
                            width: 100%;

                            h2 {
                                font-size: map-get(config.$h1, "mobile");
                            }
                            p {
                                font-size: map-get(config.$h2, "p");
                            }

                        }        
                    }
                }
            }
        }

        /* CONTACT */

        .contact {
            
            .button-slide {
                min-width: 16rem;
            }
        }
    }
}

/* iPads (portrait and landscape) ----------- */

@media only screen
and (min-device-width : 712px)
and (max-device-width : 1138px) {

    /* HEADER */

    header {
        
        .intro {
            

            .intro-text {
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);

                .hi {
                    padding: 0 1rem;
                }

                h1 {
                    font-size: map-get(config.$h1, "normal");
                    width: 100%;
                    text-align: center;
                }
            }     
        }
    }

    /* MAIN */

    main {
        
        .projects {
            

            .projects-collage {
                grid-template-columns: repeat(1, 1fr);

                .project-one,
                .project-two,
                .project-three,
                .project-four {

                    .project-figure {

                        .project-overlay {
                            background: rgba(0, 0, 0, 0.4);
                            transition: .7s ease;
                            opacity: 1;
                        }

                        .project-text {
                            opacity: 1;
                            display: flex;
                            flex-direction: column;
                            width: 100%;

                            h2 {
                                font-size: map-get(config.$h1, "normal");
                            }
                            p {
                                font-size: map-get(config.$h2, "normal");
                            }
                        }        
                    }
                }
            }
        }
    }
}

